---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  :root {
    --section-border: 30px;
    --section-padding: 50px;
    --items-gap: 30px;
  }

  .first-section {
    max-width: 1660px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1.4fr;
    gap: var(--items-gap);
    & .group {
      background-color: var(--white);
      border-radius: var(--section-border);
      padding: var(--section-padding);
    }
    .about {
      h1 {
        font-size: 40px;
        margin: 0;
        line-height: 61px;
      }
      p {
        font-size: 18px;
        line-height: 35px;
      }
      .contact {
        padding-top: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          align-items: center;
          gap: 1rem;
        }
        & button {
          cursor: pointer;
          background-color: var(--black);
          color: var(--white);
          border: 0;
          font-size: 28px;
          padding: 10px 40px;
          border-radius: 25px;
        }
      }
    }
    & .controls {
      display: flex;
      flex-direction: column;
      gap: var(--items-gap);
      & .group {
        height: 50%;
      }
    }
    .clock {
      display: grid;
      place-items: center;
    }
    .studies {
      .items {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .study {
        h3 {
          font-size: 18px;
          margin: 0;
          & span {
            font-size: 12px;
            font-weight: normal;
          }
        }
        p {
          font-size: 15px;
          line-height: 28px;
        }
      }
    }
  }
  .second-section {
    margin-top: var(--items-gap);
    display: grid;
    grid-template-columns: 3fr 1.365fr;
    max-width: 1660px;
    margin-inline: auto;
    gap: var(--items-gap);
    & .group {
      background-color: var(--white);
      border-radius: var(--section-border);
      padding: var(--section-padding);
    }

    .carrousel-control {
      /* TODO make carrousel of projects ......... */
      width: 100%;
      height: 100px;
      background-color: rgb(196, 177, 177);
    }
    .work-case {
      display: flex;
      gap: 50px;
      img {
        width: 500px;
        border-radius: 10px;
      }
      .text {
        line-height: 28px;
      }
      .title {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 32px;
        h3 {
          font-size: 25px;
          margin: 0;
        }
        & ul {
          list-style: none;
          padding-left: 0;
          display: flex;
          align-items: center;
          gap: 15px;
          & a {
            display: grid;
            place-items: center;
          }
        }
      }
      .more-details {
        cursor: pointer;
        background-color: var(--black);
        color: var(--white);
        border: 0;
        font-size: 18px;
        border-radius: 20px;
        width: 175px;
        height: 40px;
      }
    }
  }
  .section-title {
    font-size: 40px;
    line-height: 40px;
    margin-block: 0 30px;
  }
</style>
<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <section class="first-section">
      <div class="group about">
        <h1>
          Hey, I’m Leandro, a frontend dev based in Buenos Aires, Argentina.
        </h1>
        <p>
          Whether it’s React.js or Next.js, I weave digital experiences that
          users will love. Clean code, performance optimization, and
          accessibility are my daily bread, I expect my apps to be
          user-friendly. And yes, I’m always exploring new tools and techniques
          to level up my game!
        </p>
        <div class="contact">
          <button type="button">Contact me</button>
          <ul>
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="49"
                viewBox="0 0 48 49"
                fill="none"
              >
                <path
                  d="M43.5095 1.62493H4.50952C3.62464 1.61592 2.77232 1.95832 2.13959 2.57699C1.50686 3.19566 1.1454 4.04007 1.13452 4.92493V44.0824C1.14737 44.966 1.50969 45.8085 2.14221 46.4255C2.77473 47.0426 3.62592 47.3839 4.50952 47.3749H43.5095C44.3945 47.3819 45.2462 47.0384 45.8786 46.4193C46.511 45.8003 46.8727 44.9561 46.8845 44.0712V4.91368C46.8687 4.03141 46.5054 3.19103 45.8734 2.5752C45.2414 1.95937 44.3919 1.61787 43.5095 1.62493ZM14.6983 40.6249H7.90702V18.7737H14.6983V40.6249ZM11.3233 15.7962C10.5443 15.7969 9.7827 15.5666 9.13469 15.1344C8.48668 14.7022 7.98142 14.0875 7.68282 13.3681C7.38423 12.6487 7.30572 11.8569 7.45722 11.0928C7.60873 10.3288 7.98344 9.62682 8.53396 9.07577C9.08448 8.52473 9.78607 8.14935 10.55 7.99711C11.3139 7.84488 12.1058 7.92264 12.8255 8.22055C13.5452 8.51846 14.1603 9.02313 14.5932 9.67073C15.026 10.3183 15.257 11.0798 15.257 11.8587C15.256 12.3764 15.153 12.8888 14.9537 13.3667C14.7545 13.8445 14.4629 14.2783 14.0958 14.6434C13.7287 15.0084 13.2932 15.2975 12.8142 15.494C12.3352 15.6905 11.8222 15.7907 11.3045 15.7887L11.3233 15.7962ZM40.1345 40.6249H33.3433V29.9937C33.3433 27.4624 33.2983 24.2037 29.8145 24.2037C26.3308 24.2037 25.7383 26.9637 25.7383 29.8287V40.6249H18.9583V18.7737H25.4683V21.7737H25.5583C26.4658 20.0562 28.6783 18.2449 31.982 18.2449C38.8595 18.2299 40.1345 22.7562 40.1345 28.6249V40.6249Z"
                  fill="black"></path>
              </svg>
            </a>
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="49"
                viewBox="0 0 48 49"
                fill="none"
              >
                <g clip-path="url(#clip0_25_4)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.9375 0.5C17.5917 0.500795 11.5059 3.02203 7.01875 7.50923C2.53155 11.9964 0.010317 18.0821 0.00952148 24.428C0.00952148 34.994 6.90952 43.949 16.3025 47.18C17.4785 47.327 17.9165 46.592 17.9165 46.004V41.894C11.3135 43.364 9.84652 38.666 9.84652 38.666C8.81752 35.876 7.20352 35.141 7.20352 35.141C5.00152 33.674 7.34752 33.674 7.34752 33.674C9.69652 33.821 11.0195 36.17 11.0195 36.17C13.2215 39.839 16.5965 38.81 17.9195 38.225C18.0635 36.611 18.7985 35.585 19.3865 34.997C14.1005 34.409 8.52352 32.354 8.52352 23.105C8.52352 20.465 9.40252 18.407 11.0195 16.646C10.8695 16.205 9.99052 13.712 11.3135 10.481C11.3135 10.481 13.3685 9.893 17.9165 12.977C19.8245 12.389 21.8825 12.242 23.9375 12.242C25.9925 12.242 28.0475 12.536 29.9555 12.977C34.5065 9.896 36.5615 10.481 36.5615 10.481C37.8815 13.712 36.9995 16.205 36.8525 16.793C38.4692 18.5542 39.3607 20.8613 39.3485 23.252C39.3485 32.501 33.7685 34.409 28.4885 34.997C29.3675 35.729 30.1025 37.196 30.1025 39.398V46.004C30.1025 46.592 30.5405 47.324 31.7165 47.18C36.4755 45.5758 40.6096 42.5157 43.5336 38.4325C46.4575 34.3494 48.0234 29.4501 48.0095 24.428C47.8625 11.216 37.1495 0.5 23.9375 0.5Z"
                    fill="black"></path>
                </g>
                <defs>
                  <clipPath id="clip0_25_4">
                    <rect
                      width="48"
                      height="48"
                      fill="white"
                      transform="translate(0.00952148 0.5)"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="60"
                height="61"
                viewBox="0 0 60 61"
                fill="none"
              >
                <path
                  d="M9.76796 48.0836H17.2253V29.9728L6.57202 21.9829V44.8877C6.57202 46.656 8.00499 48.0836 9.76796 48.0836Z"
                  fill="#4285F4"></path>
                <path
                  d="M42.7925 48.0836H50.2501C52.0184 48.0836 53.446 46.6509 53.446 44.8877V21.9829L42.7925 29.9728"
                  fill="#34A853"></path>
                <path
                  d="M42.7925 16.123V29.9724L53.446 21.9826V17.7207C53.446 13.7685 48.9343 11.5152 45.7756 13.8856"
                  fill="#FBBC04"></path>
                <path
                  d="M17.2261 29.973V16.1238L30.0101 25.7118L42.794 16.1235V29.973L30.0101 39.5613"
                  fill="#EA4335"></path>
                <path
                  d="M6.57202 17.7209V21.9821L17.2253 29.9722V16.123L14.2424 13.8856C11.0783 11.5152 6.57202 13.7684 6.57202 17.7209Z"
                  fill="#C5221F"></path>
              </svg>
            </a>
          </ul>
        </div>
      </div>
      <div class="controls">
        <div class="group">
          <div>Toggle Theme <button>Toggle</button></div>
        </div>
        <div class="group clock">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="237"
            height="236"
            viewBox="0 0 237 236"
            fill="none"
          >
            <path
              d="M118.5 48.5001V118L164.833 141.167M234.333 118C234.333 181.973 182.473 233.833 118.5 233.833C54.5271 233.833 2.66675 181.973 2.66675 118C2.66675 54.0271 54.5271 2.16675 118.5 2.16675C182.473 2.16675 234.333 54.0271 234.333 118Z"
              stroke="#1E1E1E"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
      <div class="group studies">
        <h2 class="section-title">Studies</h2>
        <div class="items">
          <div class="study">
            <h3>
              Technical Degree in Programming <span>06/2024 - Present</span>
            </h3>
            <p>
              I am beginning a Technical Degree in Programming at UTN. My
              studies focus on developing skills to analyze and solve software
              programming problems, manage time efficiently, and effectively
              collaborate in development teams.
            </p>
          </div>
          <div class="study">
            <h3>Full-Stack Web Developer <span>04/2023 - 11/2023</span></h3>
            <p>
              I acquired skills mainly in React JS, Angular and Node JS for
              network operations. I used Firebase for authentication and data
              storage, as well as Tailwind CSS for styling, among other
              technologies.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="second-section">
      <div class="group">
        <h2 class="section-title">My last work</h2>
        <div class="work-case">
          <img
            src="https://raw.githubusercontent.com/leandiazz/leandiazz.github.io/main/public/1.webp"
            alt="cruelsummer store"
          />
          <div>
            <div class="title">
              <h3>Cruelsummer Store</h3>
              <ul>
                <a href="#"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 18 18"
                    fill="none"
                  >
                    <path
                      d="M18.0006 1V14C18.0006 14.2652 17.8952 14.5196 17.7077 14.7071C17.5201 14.8946 17.2658 15 17.0006 15C16.7353 15 16.481 14.8946 16.2934 14.7071C16.1059 14.5196 16.0006 14.2652 16.0006 14V3.41375L1.70806 17.7075C1.52042 17.8951 1.26592 18.0006 1.00056 18.0006C0.735192 18.0006 0.480697 17.8951 0.293056 17.7075C0.105415 17.5199 0 17.2654 0 17C0 16.7346 0.105415 16.4801 0.293056 16.2925L14.5868 2H4.00056C3.73534 2 3.48099 1.89464 3.29345 1.70711C3.10591 1.51957 3.00056 1.26522 3.00056 1C3.00056 0.734784 3.10591 0.48043 3.29345 0.292893C3.48099 0.105357 3.73534 0 4.00056 0H17.0006C17.2658 0 17.5201 0.105357 17.7077 0.292893C17.8952 0.48043 18.0006 0.734784 18.0006 1Z"
                      fill="black"></path>
                  </svg></a
                >
                <a href="#">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M10.9675 0C8.05896 0.000374747 5.26967 1.18813 3.21304 3.30206C1.15642 5.41599 0.000852871 8.28298 0.000488281 11.2725C0.000488281 16.2502 3.16298 20.4689 7.4681 21.991C8.0071 22.0603 8.20785 21.714 8.20785 21.437V19.5008C5.18148 20.1933 4.5091 17.9801 4.5091 17.9801C4.03748 16.6657 3.29773 16.3194 3.29773 16.3194C2.28848 15.6283 3.36373 15.6283 3.36373 15.6283C4.44035 15.6976 5.04673 16.8042 5.04673 16.8042C6.05598 18.5327 7.60285 18.0479 8.20922 17.7723C8.27522 17.012 8.6121 16.5286 8.8816 16.2516C6.45885 15.9746 3.90273 15.0065 3.90273 10.6493C3.90273 9.40555 4.30561 8.43602 5.04673 7.60641C4.97798 7.39866 4.5751 6.2242 5.18148 4.70207C5.18148 4.70207 6.12335 4.42506 8.20785 5.87794C9.08235 5.60093 10.0256 5.53168 10.9675 5.53168C11.9093 5.53168 12.8512 5.67018 13.7257 5.87794C15.8116 4.42647 16.7535 4.70207 16.7535 4.70207C17.3585 6.2242 16.9542 7.39866 16.8868 7.67566C17.6278 8.50539 18.0364 9.59224 18.0308 10.7185C18.0308 15.0757 15.4733 15.9746 13.0533 16.2516C13.4562 16.5965 13.7931 17.2876 13.7931 18.3249V21.437C13.7931 21.714 13.9938 22.0589 14.5328 21.991C16.7141 21.2353 18.6088 19.7937 19.949 17.8701C21.2891 15.9465 22.0068 13.6384 22.0004 11.2725C21.9331 5.04833 17.023 0 10.9675 0Z"
                      fill="black"></path>
                  </svg></a
                >
              </ul>
            </div>
            <p class="text">
              This project involved designing and developing a full-fledged
              e-commerce platform from scratch all by myself using Next.js.
            </p>
            <p class="text">
              Key functionalities include product management with Google Sheets
              as database, data validation with TypeScript and Zod, a persistent
              shopping cart using Zustand, and responsive design with Tailwind
              CSS and Shadcn.
            </p>
            <button type="button" class="more-details">More details</button>
          </div>
        </div>
        <!-- <div class="carrousel-control">
          TODO make carrousel of projects .........
        </div> -->
      </div>
      <div class="group">
        <h2 class="section-title">Tech i use</h2>
        grid with technologies...
      </div>
    </section>
  </main>
</Layout>
<Footer />
