<footer>
	<div>
		<p>
			Have an interesting idea you'd like to build? <a
				href="#"
				class="contact_link">Let's talk.</a
			>
		</p>
		<span>2024 © Leandro Diaz</span>
	</div>
</footer>
<style>
	footer {
		margin-block: var(--items-gap);
		max-width: 1660px;
		margin-inline: auto;
		& div {
			background-color: var(--white);
			padding: 40px;
			border-radius: var(--section-border);
			display: grid;
			place-items: center;
		}
	}
	.contact_link {
		text-decoration: underline;
		&:hover {
			color: blue;
		}
	}
</style>
