<header class="wrapper">
  <h1>I’m <b>Leandro</b>, a frontend web developer from Buenos Aires, Argentina. Clean code, performance optimization, and accessibility are my daily bread</h1>
</header>

<style>
  h1 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2rem;
    max-width: 60ch;
    padding-block: 2rem;
  }
</style>
